div{
    text-align: center;
}
.title{
    font-family: 'Anton', sans-serif;
    font-size: 30px;
    color:#00b7ef;
}
.content{
    font-family: Arial;
    font-size: 14px;
    color:#c1bfc0;
}
.title_board{
   font-family: 'Anton', sans-serif;
    font-size: 40px;
    color: black;
}
.signature{
    font-family: 'Pinyon Script', cursive;
    font-size: 24px;
    color: black;
    
}
.message_square{
    width:800px;
    border:#00b7ef solid 3px ;
    margin-left: 29%;
    margin-bottom: 2%;
    margin-top: 1%;
}