<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    {% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'billboard_app/css/billboard.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pinyon+Script" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.1.0.js"   integrity="sha256-slogkvB1K3VOkzAI8QITxV3VzpOnkeNVsKvtkYLMjfk="   crossorigin="anonymous"></script>
    <script src="{% static 'billboard_app/js/billboard.js' %}" ></script>

</head>
<body>

<div>
    <div class="title_board">BILLBOARD</div>
</div>

{% if latest_message_list %}
        {% for msg in latest_message_list %}
<div class="message_square">
           <div class="publication">{{ msg.pub_date|date:"n/j/Y" }}</div> <br/>
           <div class="title"> {{ msg.title }} </div> <br/>
           <div class="content"> {{ msg.content }} </div> <br/>
           <div class="signature"> {{ msg.author }} </div>
</div>
        {% endfor %}
{% else %}
    <p>No billboards are available.</p>
{% endif %}


<div class="plus_square">
<i class="fa fa-plus" id="plus_button" aria-hidden="true"></i>
</div>





<h1>{{ message.title }}</h1>
{% if error_message %}<p><strong> {{ error_message }}</strong></p>{%  endif %}
<form action="{% url 'billboard_app:new_msg' %}" method="POST">
{% csrf_token %}
    <div class="form">
    <div class="title_text">
        <input type="text" name="title" id="title" placeholder="Title" /><br />
    </div>
    <div class="message_text">
        <input type="text" name="content" id="content" placeholder="Your message here" /><br />
    </div>
    <div class="author_text">
        <input type="text" name="author" id="author" placeholder="Author" /><br />
    </div>
    </div>
    <div class="submit_button">

        <button class="button_check_red">
<i class="fa fa-times" aria-hidden="true"></i>
        </button>
        <button type="submit" class="button_check_green">
    <i class="fa fa-check" aria-hidden="true"></i>
        </button>

    </div>

</form>


</body>
</html>

